<div id="subject-tabs-wrapper" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
      <div id="main-content">
        <div class="grid_16 ui-tabs-panel ui-widget-content ui-corner-bottom" id="directory-tab">
          <div id="company-dir-tab" class="grid_16">

<div>
  <h2 class="directory">${t('subject.subject_follower')}(${collection.total_entries}) </h2>

</div>

<div id="tibbr-tabs">

  <div class="wrap">
    <div id="list-tab">


      <div id="list-view-div-list">

<table id="list_view">
  <thead>
  <tr>
    <th class="pic"></th>
    <th class="full-name">${t('user.name')}</th>
    <th>&nbsp;</th>
    <th class="dept">${t('user.department')}</th>
    <th class="job-title">${t('user.job_title')}</th>
    <th class="subscription-link"></th>
  </tr>
  </thead>
  <tbody id="list-items">
  
  </tbody>
</table>
<div class="pagination parent_pagination" data-update="list-view-div-list"
                         id="pagination_list_view">

                    </div>

<!--#list-tab-->
      </div>

    </div>

  </div><!--.wrap-->
</div><!--#view-tabs-wrapper-->

          </div>
        </div><!--#company-dir-tab-->

      </div>
    </div>