<a class="profile-pic large" href="${model.url}"><img
        src="${model.get('profileImageMedium')}"
        class="subject-pic" alt="CTO.UX.HTML5"></a>
<div class="info">
    <img src="/tibbr/images/action-menu.png?1314057234" id="action-menu_12934" class="action-menu" alt="Action-menu">

    <h3><a title="${model.get('display_name')}" class="strong subject-name" href="/tibbr/subjects/12934">${model.get('display_name')}</a></h3>

    <p>
        User Experience (UX) topic for questi...
    </p>

    <p>
        created by:
        <a title="Howard Weingram" class="people-name" href="/tibbr/users/483/profile">Howard Weingram</a>
        on 2011-05-20
    </p>
</div>
<ul id="my_subject_12934" class="action-menu-box menu-open" style="left: 394.467px; top: 196.117px; display: none;">
    <li class="pause"><a id="play_pause_link_12934" class="remote_update_link"
                         href="/tibbr/subjects/subscribe?section=my_subject&amp;subject_id=12934&amp;type=pause">Pause</a>
    </li>
</ul>
