<h2 style="width: 100%"> Recently Created Subjects</h2>
<div id="stream-wrap">
    <table id="recent-subject-list">
        <thead>
        <tr>
            <th class="subject-name">${t('subject.name')}</th>
            <th class="description">${t('subject.description')}</th>
            <th class="subject-owner">${t('subject.created_by')}</th>
            <th class="created-time">${t('subject.created_at')}</th>
            <th class="subject-status"> </th>
        </tr>
        </thead>
        <tbody class="recent-list">

        </tbody>
    </table>
</div>