<div class="block removable subject-followers ">
    <h3>${t('subject.follower')}(<span class="follower_stat">${collection.length}</span>)
        <a id="edit-btn" class="edit-link q-tip action-menu "  href="#">
            {{imageTag '/images/about-me.png'}}
        </a>

    </h3>
    <div >

    </div>
    <ul class="people-list" id="subject-followers">

    </ul>
    <!---->
    <div class="clear"></div>  {{if collection.total_entries>10}}
    <p class="more"><a class="more" id="more" href="#">${t('subject.see_more')}</a></p>
    {{/if}}
</div>