<div style="display:block;" id="manage-filters-wrap">
    <div style="display:block;" id="manage-filters">
        <h3>Manage Your Filters</h3>
        <div style="clear:both" class="default-filters"> </div>
        <div class="custom-filters">
            <p style="margin-bottom: 1em;" class="lable-info">Click the filters you want to edit :</p>
            <ul id="filters_list" class="custom-filters">
                <li class="add-filter"><a id="add_new_filter">Add New Filters</a></li>
            </ul>
        </div>
        <div id="filter_bar"></div>
        <div style="width:400px; margin: 10px 0px" id="filter_message"> </div>
        <div style="width:800px" id="form_container">
        </div>
    </div>
</div>