<div id="event_form_container">
    <h3>Application Statistics </h3>
    <table id="instance_state">
        <tbody>
        <tr>
            <td>Time</td>
        </tr>
        <tr>
            <td class="label">Last run at</td>
            <td>${model.last_run_at}</td>
        </tr>
        <tr>
            <td class="label">Next Run at</td>
            <td>${model.next_run_at}</td>
        </tr>
        <tr>
            <td class="label">Run count</td>
            <td>${model.run_count}</td>
        </tr>
        <tr>
            <td class="label">Success Count</td>
            <td>${model.success_count}</td>
        </tr>
        <tr>
            <td class="label">Message</td>
            <td>${model.last_error}</td>
        </tr>
        </tbody>
    </table>
</div>