<h2>${t('user.channels.activate_email_subscription')}</h2>
<div id="create-new-channel">
    <fieldset>
        <label>${t('user.channels.activation_code')}</label>
        <input type="text" size="30" id="activation_code" class="grid_16 alpha">
    </fieldset>
    <div class="submitgroup"><input type="button" value="Enter" name="commit" id="activation_subject_code"
                                    class="dgreen-blue-btn"></div>
</div>
<div id="instruction">
    <p>${t('user.channels.create_email_alert')}</p>
    <ol>
        <li>${t('user.channels.step_one')}</li>
        <li class="active">${t('user.channels.step_two')} </li>
        <li>${t('user.channels.step_three')} </li>
    </ol>
</div>