
<div id="flash_wrapper">
</div>
<div class="grid_16" id="password-wrap">

  <h2>${t('change_password.change_password')}</h2>

  <form method="post" action="/change_password">
    <ul class="grid_12" id="password-setting">
      <li>
        <label for="current-password">${t('change_password.current_password')}:</label>
        <input type="password" size="35" name="old_password" id="old_password" class="input-box">
      </li>
      <li>
        <label for="new-password">${t('change_password.new_password')}:</label><input type="password" size="35" name="password" id="password" class="input-box">
        <div class="tooltip rounded5" style="display: none;"><p><span class="tooltip-icon"></span> 4 characters or more </p></div>
      </li>
      <li><label for="verify-password">${t('change_password.verify_new_password')}:</label><input type="password" size="35" name="password_confirmation" id="password_confirmation" class="input-box"></li>
    </ul><!--end of profile details list -->
    <p id="wrap">
      <input type="submit" value="${t('change_password.change_password')}" name="commit" id="submit-btn" class="submit-btn submit">
      <a href="#" class="cancel-btn" id="cancel_button"><span>${t('upload_photo.cancel_button')}</span></a>
    </p>
  </form>

</div><!--#password-setting-->
