
    <td class="profile_info">
        <div class="popup-wrap subject-popup-wrap">
            <span class="about-btn"></span>
            <div class="subject-popup">
                <a class="large profile-image" href="#">
                    <img src='${model.get("profileImageMedium")}' class="bordered-1" alt="${model.displayName}" width="50" height="50">
                </a>
                <div class="info">
                    <h3><a href="#">${model.displayName}</a></h3>
                    <p></p>
                    <p></p>

                </div>
                <!--
                <p class="stats"> followers</p>
                <p class="stats"> messages</p>
                -->
            </div><!-- .subject-popup (hidden)-->
        </div><!-- .popup-wrap-->
        <a class="large profile-image" href="#"> <img src='${model.get("profileImageMedium")}' class="bordered-1" alt="${model.displayName}" width="50" height="50"></a>
    </td>
    <td colspan="2">
        <h4 class="people-name"><a href="#" class="people_name">${model.displayName}</a> </h4>

        <p class="description"></p>
    </td>
    <td></td>
    <td></td>
    <td class="action-button" id="directory_186">

    </td>
