<div class="add-question">
      <span id="allow-option">
        <label><input type="checkbox" name="allow_add" value="true"> Allow anyone to add options</label>
        <label><input type="checkbox" name="allow_multiple" value="true"> Allow people to select multiple options</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label>This poll will end on</label>
        <input type="textbox" name="poll_calendar_start_date" value="" size="20" class="polldatepicker cal-text-box hasDatepicker" id="poll_expiry_datepicker">
      </span>
    <input type="submit" value="Ask" name="commit" id="ask-btn" class="tib-btn ask-btn">
</div>