<ul id="post-tabs" class="ui-helper-clearfix">
    <li><h3><a href="#" data-type="post">{{imageTag 'images/post-icon.png', {width: '19', height: '16'} }} ${t('common.status.post')}</a></h3></li>
    <li><h3><a href="#" data-type="poll">{{imageTag 'images/poll-icon.png', {width: '13', height: '14'} }} ${t('common.status.poll')}</a></h3></li>
    <li><h3 class="last"><a href="#" data-type="calendar">{{imageTag 'images/calendar-icon.png', {width: '14', height: '15'} }} ${t('common.status.calender')}</a></h3></li>
</ul>
<div id="tib-box" class="public"></div>