<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Books: <%= controller.action_name %></title>
   <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>

   <script type="text/javascript">
   window.fbAsyncInit = function() {
          FB.init({
            appId      : '198099486946711',
            status     : true, 
            cookie     : true,
            xfbml      : true

            
          });
        }
          </script>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= notice %></p>

<%= yield %>

</body>
</html>
